.project {
  &__car-status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    &.is-abnormal {
      background-color: rgb(255, 47, 45);
    }
    &.is-normal {
      background-color: rgb(34, 168, 238);
    }
    &.is-stop {
      background-color: rgb(179, 194, 237);
    }
  }
}
