#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project {
  // 汽车状态 - 相关
  &__car-status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 6px;
    display: inline-block;
    &.is-abnormal {
      background-color: rgb(255, 47, 45);
    }
    &.is-normal {
      background-color: rgb(34, 168, 238);
    }
    &.is-stop {
      background-color: rgb(179, 194, 237);
    }
  }
  // 弹出框 - 相关
  &__popup {
    &--inner {
      background-color: rgb(7, 23, 56);
      border: none;
      margin-top: 0 !important;
      border-radius: 0;
      border-top: 1px solid #202f4c;
      .el-select-dropdown__list {
        padding: 0 !important;
      }
      .popper__arrow {
        border: none !important;
        &::after {
          border: none !important;
        }
      }
    }
  }
  // 表格 - 相关
  &__table {
    &--header {
      background-color: #020215 !important;
      color: rgb(0, 195, 210);
      text-align: center;
      border-bottom: 0 !important;
    }
    &--row {
      background-color: #020215 !important;
      font-size: 12px;
      padding: 5px 0 !important;
      border-bottom: 0 !important;
      color: #fff;
      font-size: 13px;
      & /deep/ .cell {
        line-height: 150%;
      }
    }
  }
  // echart - 相关
  &__echarts {
    width: 100%;
    height: 100%;
    &--tooltip-pie,
    &--tooltip-bar {
      height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 6px 12px;
    }
    &--tooltip-pie {
      background-color: rgb(255, 255, 255);
      color: rgb(51, 51, 51);
      box-shadow: 0px 1px 7.84px 0.16px rgba(20, 57, 141, 0.32);
      border-radius: 20px;
      font-weight: bold;
      padding-left: 4px;
      font-size: 12px;
    }
    &--tooltip-bar {
      background-color: #22a8ee;
      border-radius: 2px;
      position: relative;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      &:after {
        content: '';
        position: absolute;
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-width: 6px;
        border-style: solid;
        border-color: transparent;
        border-top-color: currentColor;
        color: #22a8ee;
      }
    }
  }
  // 地图 - 相关
  &__map {
    &-marker {
      text-align: center;
      color: #fff;
      font-size: 0;
      p {
        white-space: nowrap;
        background: rgba(0, 0, 1, 0.502);
        padding: 0 4px;
        color: #fff;
        font-size: 12px;
        margin-bottom: 8px;
      }
    }
    &-markerLabel {
      position: relative;
      font-size: 0;
      &__main {
        color: #fff;
        position: relative;
        border-left: 1px solid #0f6980;
        border-right: 1px solid #0f6980;
        border-bottom: 1px solid #0f6980;
        background: #020215;
        padding: 0 10px 20px;
        font-size: 12px;
        max-width: 221px;
        .is-danger {
          color: #ee1013;
          font-weight: bold;
        }
        h6 {
          font-size: 14px;
          color: rgb(0, 253, 255);
          margin-bottom: 12px;
        }
        p {
          margin-bottom: 12px;
        }
      }
      &--close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 13px;
        color: #0ccfdd;
        cursor: pointer;
      }
    }
    &-cluserMarker {
      .circle {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
        border: 1px solid rgb(6, 148, 255);
        border-radius: 50%;
        z-index: -1;
        animation: wave-scale 2s linear infinite;
      }
      .sprite_ico {
        position: relative;
      }
      span {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%) scale(0.9);
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
      }
    }
    &-infoWindow {
      position: relative;
      &--main {
        color: #fff;
        .is-danger {
          color: #ee1013;
        }
      }
      &--close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 13px;
        color: #0ccfdd;
      }
      &--button {
        width: 66px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        background: transparent;
        color: rgb(34, 168, 238);
        font-size: 12px;
        border: 1px solid rgb(34, 168, 238);
      }
    }
  }
}

.maphome {
  .amap-info-content {
    background: transparent;
    border: none;
    padding: 0;
    line-height: inherit;
  }
  .amap-info-close,
  .amap-info-sharp {
    display: none;
  }
  .amap-marker-label {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 0;
    line-height: 1;
  }
}
